
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<div class="register-box">
    <div class="register-logo">
        <a href="~/Content/index2.html"><b>Admin</b>LTE</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Register a new membership</p>

            <form action="~/Content/index.html" method="post">
                <div class="input-group mb-3">
                    <input id="txtUserName" type="text" class="form-control" placeholder="Full name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input id="txtPassWord" type="password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
                                I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="button" id="btn_Login" class="btn btn-primary btn-block">Register</button>
                        @*<a href="/Product/Index" id="btn_Login" class="btn btn-primary btn-block">ĐĂNG NHẬP</a>*@
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i>
                    Sign up using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i>
                    Sign up using Google+
                </a>
            </div>

            <a href="login.html" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->
<!-- jQuery -->
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/Content/dist/js/adminlte.min.js"></script>



<script>
    $(document).ready(function () {
        $("#btn_Login").click(function () {
            Login()
        });
    });

    function Login() {
        var input_data = {
            "UserName": $("#txtUserName").val(),
            "Password": $("#txtPassWord").val()
        }

        $.ajax({
            url: '@Url.Action("Account_Login", "Account")',
            type: 'POST',
            data: input_data,
            success: function (result) {
                var token = result.token;

                window.location.href ="/Home/GrantPermission"
                //alert(token);
               // document.cookie = token;

                //setCookie("TEN_CooKIE_LUU_Token", token);
                //  SET token vào  Cookies có tên là TEN_CooKIE_LUU_Token
            },
            error: function (data) {
                alert('Error adding product.');
            }
        });
    }

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
</script>